:root {
    --maincolor: #036bb4;
}

/* Grundlegendes Styling für den gesamten Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/slider_01-d81d3137.jpg);
    background-position: center, center;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
}

/* Container für Inhalte wie Login, Registrierung und Kursformular */
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 20px;
}

/* Globale Scrollbar-Anpassung */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
    /* Abgerundete Ecken der Spur */
}

*::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #036bb4 #f0f0f0;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(31, 133, 153);
    /* Hover-Farbe */
}

/* Filtercontainer */
.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Anpassung für Filterelemente für bessere Übersicht */
.filter-container label {
    font-weight: bold;
    margin-right: 10px;
}

.filter-container select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* Benutzerkarten (Card Layout) */
.user-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Styling für Benutzerdetails */
.user-item p {
    margin: 0;
    font-size: 1em;
}

/* Überschriften-Styling */
h1,
h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
}

/* Eingabefelder-Styling */
.input-field,
input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Datei-Upload Styling */
input[type="file"] {
    display: block;
    margin: 10px 0;
}

/* Buttons */
.button {
    background-color: var(--maincolor);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    margin-top: 7px;
    margin-bottom: 7px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Farbige Buttons für spezifische Aktionen */
.button.approve {
    background-color: #28a745;
}

.button.approve:hover {
    background-color: #218838;
}

.button.admin {
    background-color: var(--maincolor);
}

.button.admin:hover {
    background-color: #0056b3;
}

/* Kleine Buttons für Admin- und Benutzeraktionen */
.button.small {
    width: auto;
    padding: 8px 16px;
    font-size: 0.9em;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

/* Buttons für das Löschen */
.button.delete {
    background-color: #dc3545;
}

.button.delete:hover {
    background-color: #c82333;
}

/* Fehlernachricht-Styling */
.error-message {
    color: red;
    margin-top: 5px;
    font-size: 0.9em;
}

.form-element-wrapper.error {
    border: 2px solid red;
    border-radius: 5px;
}

/* Link zur Registrierung */
p {
    margin-top: 15px;
}

/* Linkstil */
a {
    color: var(--maincolor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Canvas für Unterschrift */
.signature-container {
    margin-bottom: 20px;
}

.signature-pad {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 200px;
    display: block;
    margin: 10px auto;
}

.clear-signature-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clear-signature-button:hover {
    background-color: #c82333;
}

/* Benachrichtigungen */
.notification {
    display: none;
    position: fixed;
    top: 4rem;
    right: 50px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    font-size: 1em;
    z-index: 999999;
}

.notification.success {
    background-color: #28a745;
    color: white;
}

.notification.error {
    background-color: #dc3545;
    color: white;
}

/* Klasse, um die Benachrichtigung anzuzeigen */
.notification.show {
    display: block;
}

/* Styling für das Logo */
.logo {
    display: block;
    margin: 0 auto 30px;
    max-width: 80%;
    height: auto;
}

/* Zentrale Klasse für Formular Labels */
.form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: #333;
    font-size: 1rem;
    /* Einheitliche Schriftgröße */
}


/* Datei-Upload Container */
.file-upload-container {
    padding: 0;
    border-radius: 5px;
}


/* Datei-Upload Button */
.file-upload-button {
    display: inline-block;
    padding: 12px 18px;
    font-size: 15px;
    color: #fff;
    background-color: var(--maincolor);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    outline: none;
}

.file-upload-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.file-upload-button:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Hochgeladene Dateien Liste */
.uploaded-file-list {
    margin-top: 0.5rem;
    /* padding: 0.5rem; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Input-Feld für den Datei-Upload */
.file-upload-container input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Einzelnes Element der hochgeladenen Dateien */
.uploaded-file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
}

/* Button zum Löschen einer hochgeladenen Datei */
.delete-file-button {
    margin-left: 1rem;
    background-color: #ff5e57;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-file-button:hover {
    background-color: #ff4444;
    transform: translateY(-2px);
}

/* Hinweistext für Dateitypen und -größe */
.file-info-text {
    display: block;
    margin-top: 0.5rem;
    color: #666;
    font-size: 14px;
}

/* Kein Datei Text */
.no-files-text {
    font-style: italic;
    color: #888;
}

.upload-options {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}


/* Responsive Anpassungen */
@media (max-width: 600px) {
    .file-upload-button {
        font-size: 14px;
        padding: 10px 16px;
    }

    .uploaded-file-item {
        font-size: 12px;
    }

    .delete-file-button {
        font-size: 12px;
        padding: 3px 8px;
    }
}


/* Benutzerkarten für Admin- und Benutzeraktionen auf Mobilgeräten */
@media (max-width: 768px) {
    .user-item {
        padding: 15px;
        font-size: 0.95em;
    }

    .button.small {
        margin-bottom: 10px;
        width: 100%;
    }

    h2 {
        font-size: 1.6em;
    }

    .container {
        padding: 15px;
    }

    .filter-container {
        flex-direction: column;
    }
}

/* Responsives Design für kleinere Bildschirme */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 1.5em;
    }

    .input-field,
    input[type="text"],
    input[type="number"],
    input[type="date"],
    select {
        font-size: 0.9em;
    }

    .button {
        font-size: 0.9em;
    }

    .logo {
        display: block;
        margin: 0 auto 30px;
        max-width: 80%;
        height: auto;
    }

    #signaturePad {
        height: 150px;
    }

    .filter-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-container select {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Modernisierte Variable-Liste */
.variable-list-container {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.variable-list-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.variable-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    /* Buttons linksbündig ausrichten */
}

.variable-buttons button {
    background-color: #007bff;
    color: white;
    padding: 6px 12px;
    font-size: 0.85rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.variable-buttons button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.variable-buttons button:focus {
    outline: none;
    box-shadow: 0 0 5px #0056b3;
}

/* Responsive Design für Buttons */
@media (max-width: 768px) {
    .variable-buttons {
        justify-content: center;
        /* Zentriert auf kleineren Bildschirmen */
    }
}

/* Platzhalter-Stil für den Drop-Bereich */
.form-element.placeholder {
    border: 2px dashed #007bff;
    background-color: #f0f8ff;
    height: 60px;
    /* Definiert die Höhe des Platzhalters */
    margin-bottom: 1.5rem;
    transition: all 0.2s ease-in-out;
    /* Weiche Animation bei Platzänderungen */
}

.dragging-over {
    margin-top: 10px;
    transition: margin 0.2s ease;
}

/* Styling für den FormView */
/* Zusätzliche Stile für die Formularansicht */

/* Formular Titel */
.container h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

/* Container für die Datums- und Zeitauswahl */
.responsive-picker-container {
    width: 100%;
    padding: 0px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}

/* Label für die Datums- und Zeitauswahl */
.responsive-picker-container label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

/* Input-Feld für die Datums- und Zeitauswahl */
.responsive-picker-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Fokuszustand für das Input-Feld */
.responsive-picker-input:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Platzhaltertext für das Input-Feld */
.responsive-picker-input::placeholder {
    font-style: italic;
    color: #aaa;
}

/* Container Hover-Effekt */
.responsive-picker-container:hover {
    background-color: #f1f1f1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

/* Flatpickr spezifische Anpassungen */
.flatpickr-calendar {
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.flatpickr-day {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.flatpickr-day:hover {
    background-color: #007bff;
    color: #fff;
}

/* Aktueller Tag */
.flatpickr-day.today {
    border: 1px solid #007bff;
    color: #007bff;
}

/* Ausgewählter Tag */
.flatpickr-day.selected {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}



/* Layout für die generierten Formularelemente */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

/* Individuelle Formulargenerierte Gruppen */
.form-group {
    margin-bottom: 0px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Stile für die dynamisch generierten Eingabefelder */
.input-field,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.align-left {
    text-align: left;
    display: block;
    margin-left: 0;
}

.align-center {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.align-right {
    text-align: right;
    display: block;
    margin-left: auto;
}

.input-field:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
}

/* Datepicker und File-Upload Felder */
input[type="date"],
input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
}

/* Styling für Radio- und Checkbox-Gruppen */
.radio-group,
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Trennlinie */
hr {
    border: none;
    border-top: 1px solid #acacac;
    margin: 15px 0;
}

/* Dokument- und Hyperlink-Links */
.document-link,
.hyperlink {
    color: #007bff;
    text-decoration: none;
}

.document-link:hover,
.hyperlink:hover {
    text-decoration: underline;
}

/* Signaturfeld */
.signature-pad canvas {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    height: 200px;
}

/* Notification für die Formularansicht */
.notification {
    font-size: 1em;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
}

.notification.success {
    background-color: #d4edda;
    color: #155724;
}

.notification.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .input-field,
    select,
    textarea {
        font-size: 0.9em;
    }

    .form-group label {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    .input-field,
    select,
    textarea {
        font-size: 0.8em;
    }

    .form-group label {
        font-size: 0.9em;
    }

    h2 {
        font-size: 1.6em;
    }
}

.noelementselected {
    text-align: center;
}